<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>HandiCraft</title>
  <link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
  rel="stylesheet"
/>
  <link rel="stylesheet" type="text/css" href="../public/css/footer.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/footer-tablet.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/footer-desktop.css" />
  <script
    src="https://kit.fontawesome.com/0277c3bb21.js"
    crossorigin="anonymous"
  ></script>
  </head>
<footer class="footer">
  <h3>HandiCraft</h3>
    <div class="footer-desc">
      <h4>
        Es un emprendimiento que pone al alcance de un click la compra de
        productos en los que interviene el diseño de articulos en vidrio,
        con los mejores estándares de especificación y calidad.
      </h4>
    </div>
    <section class="footer-links">
      <p>Seguinos por:</p>
      <div>
        <!--  <a href="sitemap.html">Sitemap</a> -->
        <i class="fa-brands fa-facebook"></i>
      </div>
      <div>
        <!-- <a href="giftcards.html">Gift Cards</a> -->
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div>
        <!--  <a href="/blog.html">Blog</a> -->
        <i class="fa-brands fa-twitter"></i>
      </div>
    </section>
  </div>
<div class="copyright">
  <p>
    Copyright © 2000-2022 HandiCraft S.R.L. Todos los derechos reservados.
  </p>
</div>
</footer>