@media only screen and (min-width: 761px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
  }
  main {
    background-color: #87a6ab;
    padding-top: 90px;
  }
  .banner {
    width: 90%;
    height: 75px;
    background-color: whitesmoke;
    margin: auto;
  }

  .section-prd-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section-prd-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .producto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    height: 350px;
    background-color: whitesmoke;
    margin: 15px 15px;
  }
  .producto-big {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 52%;
    height: 350px;
    background-color: whitesmoke;
    margin: 15px 15px;
  }

  .image {
  }
  .preview {
    width: 250px;
    height: 250px;
  }

  .description {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  }

  .price {
  }

  .prd-name {
  }
}
