@media only screen and (min-width: 761px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
  }
  main {
    background-color: #87a6ab;
    padding-top: 90px;
  }
  .banner {
    width: 90%;
    height: 75px;
    background-color: whitesmoke;
    margin: auto;
  }

  .section-prd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .producto {
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    margin: 10px 10px;
    z-index: 1;
    transition: transform 0.5s;
  }

  .producto:hover {
    display: flex;
    transform: scale(1.05, 1.05);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .image {
    margin: 10px 10px;
  }
  .preview {
    display: flex;
    width: 400px;
    height: 400px;
  }

  .prd-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 0px;
    padding: 10px 10px;
    background-color: whitesmoke;
  }

  .price {
  }

  .prd-name {
  }
}
