@media only screen and (min-width: 1200px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
  }
  main {
    background-color: #87a6ab;
    padding-top: 90px;
  }
  .banner {
    width: 90%;
    height: 75px;
    background-color: whitesmoke;
    margin: auto;
  }

  .section-prd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .producto {
    display: flex;
    width: 24%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    /*     margin: 10px 10px; */
    z-index: 1;
    transition: transform 0.5s;
  }

  .producto:hover {
    display: flex;
    transform: scale(1.05, 1.05);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .producto:hover .description {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 0px;
    background-color: whitesmoke;
    transform: scale(1, 1);
  }
  .image {
  }

  .preview {
    display: flex;
    margin: 10px 10px;
    width: 300px;
    height: 300px;
  }

  .description {
    display: none;
    transition: transform 1s;
  }

  .price {
  }

  .prd-name {
  }
}
