* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Calibri';
}
.estrella{
 color: rgb(156, 156, 156);
 font-size: 1.2em;
    transition-property: color;
    transition-duration: 00.5ms;
}
.estrella:hover{
    color:gold ;
  }
.imagen{
  width: 50%;
}
.article{
  width: 60%;
  display:flex;
 position: bottom;
}
