<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="../public/css/productEdit.css" />
  <%- include ('../partials/header') %>
  <body>
    <main>
      <div id="container">
        <form action="/"></form>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
