<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
   
  <body>
    <div id="container">
      <%- include ('./partials/header') %>
      <main class="cart">
        <section class="banner">
            <img src="public/images/Banner.jpg" />   
        </section>
        <section class="firstSectionCart">
            Cart
        </section>
        <section class="secondSectionCart">
            Resumen
        </section>
      </main>
      <%- include ('./partials/footer') %>
    </div>
  </body>
</html>