<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
   
  <body>
    <div id="container">
      <%- include ('./partials/header') %>
      <main class="mainCart">
        
            <section class="banner">
                <img src="public/images/Banner.jpg" />   
            </section>

                <h2 class="tituloCart"><i class="fa-solid fa-basket-shopping"></i>  Tus Compras</h2>

         <div class="cart">
            <section class="firstSectionCart">
                
                <article>
                    
                    <img class="imagenesCart" src="public/images/Artesania-de-vidrio-06.jpeg.jpg" />
                    <div class="contenidoProduct">
                        <h3 class="tituloProducto">Carruaje Navideño</h3>
                        <p class="breveDescripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut modi nam porro</p>
                        <div class="padreDiv">  
                        <section class="precioArtCart">$Precio</section>
                        <section class="botonera">
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-trash"></i></button></a>
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-plus"></i></button></a>
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-minus"></i></button></a>
                            <p class="ctdCart">Uni: 1</p>
                        </section>
                        </div>
                    </div>
                </article>
                <article>
                    
                    <img class="imagenesCart" src= "public/images/H-D-cristal-azul-flor-Rosa-hecha-a-mano-con-hermoso-canasto-creativo-regalo-de-recuerdo.jpg_Q90.jpg_.webp" />
                    <div class="contenidoProduct">
                        <h3 class="tituloProducto">Canasto Flores Azules</h3>
                        <p class="breveDescripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut modi nam porro</p>
                        <div class="padreDiv">  
                        <section class="precioArtCart">$Precio</section>
                        <section class="botonera">
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-trash"></i></button></a>
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-plus"></i></button></a>
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-minus"></i></button></a>
                            <p class="ctdCart">Uni: 1</p>
                        </section>
                        </div>
                    </div>
                </article>
                <article>
                    <img class="imagenesCart" src="public/images/H5204c57802c84d74b06b98bcf45bfb5ag.png" />
                    <div class="contenidoProduct">
                        <h3 class="tituloProducto">Caramelera Flor</h3>
                        <p class="breveDescripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut modi nam porro</p>
                        <div class="padreDiv">  
                        <section class="precioArtCart">$Precio</section>
                        <section class="botonera">
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-trash"></i></button></a>
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-plus"></i></button></a>
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-minus"></i></button></a>
                            <p class="ctdCart">Uni: 1</p>
                        </section>
                        </div>
                    </div>
                </article>
                <article>
                    <img class="imagenesCart" src="public/images/D_NQ_NP_934178-MLA49555529313_042022-O.webp" />
                    <div class="contenidoProduct">
                        <h3 class="tituloProducto">Frutera</h3>
                        <p class="breveDescripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut modi nam porro</p>
                        <div class="padreDiv">  
                        <section class="precioArtCart">$Precio</section>
                        <section class="botonera">
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-trash"></i></button></a>
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-plus"></i></button></a>
                            <a href="/"><button class="btnsCart"><i class="fa-solid fa-minus"></i></button></a>
                            <p class="ctdCart">Uni: 1</p>
                        </section>
                        </div>
                    </div>
                </article>
                
            </section>
            
            <section class="secondSectionCart">
                <article>
                    <h3><i class="fa-solid fa-file-invoice-dollar"></i> Detalle de Compra</h3>
                    <div class="detalleCompra">
                        <div class="detalleColumna1">
                            <p>CTD Items</p>
                            <p>SubTotal</p>
                            <p>Descuento</p>
                            <p>Envío</p>
                            
                            <h3>Total</h3>

                        </div>
                        <div class="detalleColumna2">
                            <p>4</p>
                            <p>$ Subtotal</p>
                            <p>10%</p>
                            <p>$ Envío</p>
                            
                            <h3>$ Total compra</h3>    
                        </div>
                    </div>
                </article>
                <article class="botonesFinales">
                    <a href="/"><button class="btnCancel">Cancelar Compra</button></a>
                    <a href="/"></a><button class="btnFinish">Finalizar Compra</button></a>
                </article>
            </section> 
            
         </div>
      </main>
      <%- include ('./partials/footer') %>
    </div>
  </body>
</html>