<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
   
  <body>
    <div id="container">
      <%- include ('./partials/header') %>
      <main>
        <div class="banner">
          <img src="public/images/banner.jpg" />
        </div>
        <section class="section-prd-top">
          <article class="producto-big">
            <div class="image">
              <a href="producto.ejs"><img class="preview" src="public/images/H5204c57802c84d74b06b98bcf45bfb5ag.png" /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$12000</p>
                <p class="disc"></p>
              </div>
              <div class="prd-name">
                <p>Alzada con pie en forma de flor.</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto.ejs"><img class="preview" src= "public/images/H-D-cristal-azul-flor-Rosa-hecha-a-mano-con-hermoso-canasto-creativo-regalo-de-recuerdo.jpg_Q90.jpg_.webp" /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$9.000</p>
                <p class="disc">15% off</p>
              </div>
              <div class="prd-name">
                <p>Canasto de flores tallado en vidrio</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto.ejs"><img class="preview" src="public/images/Artesania-de-vidrio-06.jpeg.jpg" /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$15.000</p>
                <p class="disc">10% off</p>
              </div>
              <div class="prd-name">
                <p>Figura de cristal hecha a mano en forma de carruaje navideño</p>
              </div>
            </div>
          </article>
        </section>
        <aside>
          <section class="section-prd-bottom">
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/D_NQ_NP_633575-MLA44783347756_022021-W.jpg" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$5.550</p>
                  <p class="disc"></p>
                </div>
                <div class="prd-name">
                  <p>Platos hondos tallados x 6 unidades</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/347438-800-auto.webp"/></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$5.550</p>
                  <p class="disc"></p>
                </div>
                <div class="prd-name">
                  <p>Platos playos tallados x 6 unidades</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/D_NQ_NP_918402-MLA46928663058_072021-O.webp" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$3.000</p>
                  <p class="disc"></p>
                </div>
                <div class="prd-name">
                  <p>Tortera tallada</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/D_NQ_NP_934178-MLA49555529313_042022-O.webp" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$3.500</p>
                  <p class="disc"></p>
                </div>
                <div class="prd-name">
                  <p>Frutera tallada</p>
                </div>
              </div>
            </article>
          </section>
        </aside>
      </main>
      <%- include ('./partials/footer') %>
    </div>
  </body>
</html>