<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>HandyCraft</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="public/css/login.css" />
    <link rel="stylesheet" type="text/css" href="public/css/login-tablet.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/login-desktop.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/register.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/register-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/register-desktop.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/header.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/header-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/header-desktop.css"
    />

    <link rel="stylesheet" type="text/css" href="public/css/home.css" />
    <link rel="stylesheet" type="text/css" href="public/css/home-tablet.css" />
    <link rel="stylesheet" type="text/css" href="public/css/home-desktop.css" />
    <link rel="stylesheet" type="text/css" href="public/css/header.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/header-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/header-desktop.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/footer.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/footer-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/footer-desktop.css"
    />

    <script
      src="https://kit.fontawesome.com/0277c3bb21.js"
      crossorigin="anonymous"
    ></script>
    <title>HandiCraft</title>
  </head>
  <body>
    <div id="container">
      <header>
        <div class="head">
          <div class="logo">
            <!-- <img src="public/images/logo.svg" /> -->
            <h3 class="logo-text">HandiCraft</h3>
          </div>
          <nav class="nav-site">
            <a class="nav-button" href="/home.ejs ">Home</a>
            <a class="nav-button" href="/collecciones.ejs">Colecciones</a>
            <a class="nav-button" href="/noticias.ejs">Noticias</a>
          </nav>
          <nav class="nav-search">
            <input
              class="search-bar"
              type="text"
              placeholder="Buscar productos, marcas..."
            />
            <i class="fa-solid fa-magnifying-glass"></i>
          </nav>
          <div class="nav-user-style">
            <nav class="nav-user">
              <div>
                <a href="register.ejs">Registrarme</a>
              </div>
              <div>
                <a href="login.ejs">Cuenta</a>
              </div>
              <div>
                <a href="cart.ejs">Carrito</a>
              </div>
            </nav>
            <nav class="nav-menu">
              <i class="fas fa-bars"></i>
            </nav>
          </div>
        </div>
      </header>
      <main>
        <div class="banner">
          <img src="public/images/banner.jpg" />
        </div>
        <section class="section-prd-top">
          <article class="producto-big">
            <div class="image">
              <a href="producto.ejs"><img class="preview" src="public/images/img-1.jpg" /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$6.770</p>
                <p class="disc">40% off</p>
              </div>
              <div class="prd-name">
                <p>PRD 1</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto.ejs"><img class="preview" src="public/images/img-2.jpg" /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$6.770</p>
                <p class="disc">40% off</p>
              </div>
              <div class="prd-name">
                <p>PRD 2</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto.ejs"><img class="preview" src="public/images/img-3.jpg" /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$6.770</p>
                <p class="disc">40% off</p>
              </div>
              <div class="prd-name">
                <p>PRD 3</p>
              </div>
            </div>
          </article>
        </section>
        <aside>
          <section class="section-prd-bottom">
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/img-1.jpg" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$6.770</p>
                  <p class="disc">40% off</p>
                </div>
                <div class="prd-name">
                  <p>PRD 1</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/img-2.jpg" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$6.770</p>
                  <p class="disc">40% off</p>
                </div>
                <div class="prd-name">
                  <p>PRD 2</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/img-3.jpg" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$6.770</p>
                  <p class="disc">40% off</p>
                </div>
                <div class="prd-name">
                  <p>PRD 3</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/img-4.jpg" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$6.770</p>
                  <p class="disc">40% off</p>
                </div>
                <div class="prd-name">
                  <p>PRD 4</p>
                </div>
              </div>
            </article>
          </section>
        </aside>
      </main>
      <footer class="footer">
        <div class="footer-desc">
          <h3>HandiCraft</h3>
          <h4>
            Es un emprendimiento que pone al alcance de un click la compra de
            productos en los que interviene el diseño de articulos en vidrio,
            con los mejores estándares de especificación y calidad.
          </h4>
        </div>
        <section class="footer-links">
          <p>Seguinos por:</p>
          <div>
            <!--  <a href="sitemap.html">Sitemap</a> -->
            <i class="fa-brands fa-facebook"></i>
          </div>
          <div>
            <!-- <a href="giftcards.html">Gift Cards</a> -->
            <i class="fa-brands fa-instagram"></i>
          </div>
          <div>
            <!--  <a href="/blog.html">Blog</a> -->
            <i class="fa-brands fa-twitter"></i>
          </div>
        </section>
      </footer>
      <div class="copyright">
        <p>
          Copyright © 2000-2022 HandiCraft S.R.L. Todos los derechos reservados.
        </p>
      </div>
    </div>
  </body>
</html>