<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
   
  <body>
    <div id="container">
      <%- include ('./partials/header') %>
      <main>
        <div class="banner">
          <img src="public/images/banner.jpg" />
        </div>
        <section class="section-prd-top">
          <article class="producto-big">
            <div class="image">
              <a href="producto.ejs"><img class="preview" src="public/images/img-1.jpg" /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$6.770</p>
                <p class="disc">40% off</p>
              </div>
              <div class="prd-name">
                <p>PRD 1</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto.ejs"><img class="preview" src="public/images/img-2.jpg" /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$6.770</p>
                <p class="disc">40% off</p>
              </div>
              <div class="prd-name">
                <p>PRD 2</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto.ejs"><img class="preview" src="public/images/img-3.jpg" /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$6.770</p>
                <p class="disc">40% off</p>
              </div>
              <div class="prd-name">
                <p>PRD 3</p>
              </div>
            </div>
          </article>
        </section>
        <aside>
          <section class="section-prd-bottom">
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/img-1.jpg" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$6.770</p>
                  <p class="disc">40% off</p>
                </div>
                <div class="prd-name">
                  <p>PRD 1</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/img-2.jpg" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$6.770</p>
                  <p class="disc">40% off</p>
                </div>
                <div class="prd-name">
                  <p>PRD 2</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/img-3.jpg" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$6.770</p>
                  <p class="disc">40% off</p>
                </div>
                <div class="prd-name">
                  <p>PRD 3</p>
                </div>
              </div>
            </article>
            <article class="producto">
              <div class="image">
                <a href="producto.ejs"><img class="preview" src="public/images/img-4.jpg" /></a>
              </div>
              <div class="description">
                <div class="price">
                  <p>$6.770</p>
                  <p class="disc">40% off</p>
                </div>
                <div class="prd-name">
                  <p>PRD 4</p>
                </div>
              </div>
            </article>
          </section>
        </aside>
      </main>
      <%- include ('./partials/footer') %>
    </div>
  </body>
</html>