<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %> <%- include ('./partials/header') %>
  <link rel="stylesheet" type="text/css" href="public/css/producto.css" />
  <body>
    <div id="container">
        <section class="producto">
          <div class="prd-name">
            <p>Alzada con pie en forma de flor</p>
          </div>
          <div class="imagen">
            <img class="preview" src="public/images/PRD-AlzadaFlor.png" />
          </div>
          <div class="description">
            <div class="estrellas">
              <i class="fa-solid fa-star estrella"></i>
              <i class="fa-solid fa-star estrella"></i>
              <i class="fa-solid fa-star estrella"></i>
              <i class="fa-solid fa-star estrella"></i>
              <i class="fa-solid fa-star estrella"></i>
            </div>
            <div class="price">
              <p>$12000</p>
            </div>
          </div>
        </section>
        <section class="description-large">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut
            modi nam porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut
            modi nam porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut
            modi nam porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut
            modi nam porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut
            modi nam porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut
            modi nam porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut
            modi nam porro. 
        </section>
      </main>
    </div>
      <%- include ('./partials/footer') %>
  </body>
</html>
