<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
<body>
    <div id="container">
      <%- include ('./partials/header') %>
        <main>
            <article class="producto">
                <div class="imagen">
                  <img class="preview" src="public/images/img-2.jpg" />
                </div>
                <div class="description">
                  <div class="price">
                    <p>$6.770</p>
                    <p class="disc">40% off</p>
                  </div>
                  <div class="prd-name">
                    <p>PRD 2</p>
                  </div>
                  <div class="estrellas">
                    <i class="fa-solid fa-star estrella"></i>
                    <i class="fa-solid fa-star estrella"></i>
                    <i class="fa-solid fa-star estrella"></i>
                    <i class="fa-solid fa-star estrella"></i>
                    <i class="fa-solid fa-star estrella"></i>
                  </div>
                </div>
              </article>

        </main>
        <%- include ('./partials/footer') %>
    </div>
</body>
</html>
