<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
<body>
    <div id="container">
      <%- include ('./partials/header') %>
        <main>
            <article class="producto">
                <div class="imagen">
                  <img class="preview" src="public/images/H5204c57802c84d74b06b98bcf45bfb5ag.png" />
                </div>
                <div class="description">
                  <div class="price">
                    <p>$12000</p>
                
                  </div>
                  <div class="prd-name">
                    <p>Alzada con pie en forma de flor</p>
                  </div>
                  <div class="estrellas">
                    <i class="fa-solid fa-star estrella"></i>
                    <i class="fa-solid fa-star estrella"></i>
                    <i class="fa-solid fa-star estrella"></i>
                    <i class="fa-solid fa-star estrella"></i>
                    <i class="fa-solid fa-star estrella"></i>
                  </div>
                </div>
              </article>

        </main>
        <%- include ('./partials/footer') %>
    </div>
</body>
</html>
