<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="public/css/buttons.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="public/css/header.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/header-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/header-desktop.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/footer.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/footer-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/footer-desktop.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/register.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/register-tablet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="public/css/register-desktop.css"
    />
    <script
      src="https://kit.fontawesome.com/0277c3bb21.js"
      crossorigin="anonymous"
    ></script>
    <title>Crear cuenta</title>
  </head>
  <body>
  <div class="container">
    <header>
      <div class="head">
        <div class="logo">
          <!-- <img src="public/images/logo.svg" /> -->
          <h3 class="logo-text">HandiCraft</h3>
        </div>
        <nav class="nav-site">
          <a class="nav-button" href="/home.html">Home</a>
          <a class="nav-button" href="/collecciones.html">Colecciones</a>
          <a class="nav-button" href="/noticias.html">Noticias</a>
        </nav>
        <nav class="nav-search">
          <input
            class="search-bar"
            type="text"
            placeholder="Buscar productos, marcas..."
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </nav>
        <div class="nav-user-style">
          <nav class="nav-user">
            <div>
              <a href="register.html">Registrarme</a>
            </div>
            <div>
              <a href="login.html">Cuenta</a>
            </div>
            <div>
              <a href="cart.html">Carrito</a>
            </div>
          </nav>
          <nav class="nav-menu">
            <i class="fas fa-bars"></i>
          </nav>
        </div>
      </div>
    </header>
  <main>
      <div class="banner">
        <img src="public/images/banner.jpg" />
      </div>
      <form action="/register" method="POST">
        <div class="user">
          <label for="user">Nombre de usuario</label>
          <input type="text" name="user" id="user" />
        </div>
        <div class="passwords">
          <label for="password">Ingresar contraseña:</label>
          <input type="password" name="password" value="" />
        </div>
        <div class="passwords">
          <label for="password">Confirmar contraseña:</label>
          <input type="password" name="password2" value="" />
        </div>
        <div class="buttons">
          <button type="submit" value="enviar">Enviar</button>
          <button class="nav-reset" type="reset" value="reset">Reset</button>
          <div class="show-btn-back">
            <a class="nav-back" href="home.html">Volver</a>
          </div>
        </div>
      </form>
    </body>
  </main>
    <footer class="footer">
      <div class="footer-desc">
        <h3>HandiCraft</h3>
        <h4>
          Es un emprendimiento que pone al alcance de un click la compra de
          productos en los que interviene el diseño de articulos en vidrio, con
          los mejores estándares de especificación y calidad.
        </h4>
      </div>
      <section class="footer-links">
        <p>Seguinos por:</p>
        <div>
          <!--  <a href="sitemap.html">Sitemap</a> -->
          <i class="fa-brands fa-facebook"></i>
        </div>
        <div>
          <!-- <a href="giftcards.html">Gift Cards</a> -->
          <i class="fa-brands fa-instagram"></i>
        </div>
        <div>
          <!--  <a href="/blog.html">Blog</a> -->
          <i class="fa-brands fa-twitter"></i>
        </div>
      </section>
    </footer>
    <div class="copyright">
      <p>
        Copyright © 2000-2022 HandiCraft S.R.L. Todos los derechos reservados.
      </p>
    </div>
  </div>
</html>